html {
    box-sizing: border-box;
    font-size: 100%;
  }
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Chicago Makers", Elgraine, "Tiempos Fine", Fiorina, Georgia, serif ;;
    background: rgb(240, 245, 245);
    padding: 1%;
  }
  
  #container {
    max-width: 1200px;
    margin: 3px auto;
    
  }
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: rgb(41, 38, 38);
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover {
      background-color: #111;
    }
  
    * {
      box-sizing: border-box;
    }
  
  main {
    background: rgb(240, 245, 245);
    
  }
  
  section {
    background: rgb(240, 245, 245);
  }
  
  
  p {
    font-size: 1em;
    line-height: 135%;
    padding: 1%;
  }
  
  
  footer {
    background: rgb(41, 38, 38); 
    color: rgb(252, 250, 247);
    padding: 1%;
    font-size: 0.8em;
  }
  
  h1{
    padding: 1%;
    color: rgba(0, 0, 0, 0.947);
  }
  h2{
    padding: 1%;
    color: rgba(0, 0, 0, 0.728);
  }
  
  #alb1{
    margin-left: 3px;
    margin-right: 1.5px;
  }

  .column {
    float: left;
    width:50%;
    padding: .5px;
  }
  
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  
  
  
  
  
  
  